opencv-python
mediapipe
numpy
Flask
Werkzeug
g4f
keras
tensorflow
requests
beautifulsoup4
selenium
matplotlib
pandas
scikit-learn
scipy
torch
spacy
pytest
flask-restful
gunicorn
scikit-learn
pandas
g4f